<div style="overflow: visible">
  <ejs-treegrid
    [dataSource]="data"
    [treeColumnIndex]="1"
    childMapping="SubPMGradingGroupID"
    [allowPaging]="true"

  >
    <e-columns>
      <e-column headerText="" textAlign="Center" width="150"></e-column>
      <e-column
        headerText="ชื่อพนักงาน"
        textAlign="Center"
        width="350"
      ></e-column>
      <e-column
        headerText="ระดับพนักงาน"
        textAlign="Right"
        width="120"
      ></e-column>
      <e-column headerText="อายุ" textAlign="Center" width="200"></e-column>
      <e-column
        headerText="การจัดอันดับ"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="คะแนนประเมิน"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="เกรดที่ได้จากการประเมิน"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="คะแนนใหม่	"
        textAlign="Center"
        width="100%"
      ></e-column>
      <e-column
        headerText="ชื่อตำแหน่ง/ชื่อย่อตำแหน่ง/ตำแหน่งสายงาน/ตำแหน่งบริหาร/หน่วยงาน"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="อัตราขึ้นเงินเดือน (%)"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="เงินปรับประจำปี"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="เงินปรับพิเศษ"
        textAlign="Center"
        width="150"
      ></e-column>
      <e-column
        headerText="สรุปเงินประจำปี/กรอบเงินเดือน/รวมอัตราการขึ้นเงินเดือน(%)"
        textAlign="Center"
        width="150"
      ></e-column>
    </e-columns>
    <ng-template #rowTemplate let-data>
      <tr>
        <td class="rows">
          <img src="" />
        </td>
        <td class="name">
          <table class="CardTable">
            <colgroup>
              <col width="100%" />
            </colgroup>
            <tbody>
              <tr>
                <td class="CardData">{{ data.PersonName }}</td>
              </tr>
              <br />
              <tr>
                <td class="CardHeader" style="font-weight: bold">
                  รหัสประจำตัว
                </td>

                <td>{{ data.Empcode }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <a>{{ data.PositionLevel }}</a>
        </td>
        <td class="age">
          <table class="CardTable">
            <colgroup>
              <col width="100%" />
            </colgroup>
            <tbody>
              <tr>
                <td class="CardHeader" style="font-weight: bold">อายุตัว :</td>

                <td class="CardData">{{ data.Age }}</td>
              </tr>
              <tr>
                <td class="CardHeader" style="font-weight: bold">
                  อายุในตำแหน่ง :
                </td>

                <td>{{ data.EmpcWorkAgeode }}</td>
              </tr>
              <tr>
                <td class="CardHeader" style="font-weight: bold">
                  อายุในองค์กร :
                </td>

                <td>{{ data.PositionAge }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <input style="width: 80px" [value]="data.AdjustRank" />
        </td>
        <td>
          <a>{{ data.EvaluatorScoreText }}</a>
        </td>
      </tr>
    </ng-template>
  </ejs-treegrid>
</div>
